*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    margin: 2rem 0;
}

button{
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}